
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="../assets/img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Vamos a Aprender Maya</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/material-dashboard.css?v=1.2.0")
    @Styles.Render("~/Content/demo.css")

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="blue" data-image="../assets/img/sidebar-1.jpg">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

                Tip 2: you can also add an image using data-image tag
            -->
            <div class="logo">
                <h5><a style="border-bottom:2px solid #00bcd4;  color:black" href="/Principal/IndexMain">¡Vamos a Aprender Maya!</a></h5>

                <h5>Bienvenido Administrador:</h5>
                <h3>
                    <img style="width:75px; height:75px" src="@ViewBag.Usuario.FotoPerfil" />
                    @ViewBag.Usuario.Nombre @ViewBag.Usuario.Apellido
                </h3>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="">
                        <a href="/PrincipalBackend/Index">
                            <i class="material-icons">dashboard</i>
                            <p>Inicio</p>
                        </a>
                    </li>
                    <li>
                        <a href="/PrincipalBackend/Perfil">
                            <i class="material-icons">person</i>
                            <p>Perfil</p>
                        </a>
                    </li>
                    <li>
                        <a href="/PrincipalBackend/Usuarios">
                            <i class="material-icons">content_paste</i>
                            <p>Usuarios</p>
                        </a>
                    </li>
                    <li>
                        <a href="./typography.html">
                            <i class="material-icons">library_books</i>
                            <p>Publicaciones</p>
                        </a>
                    </li>
                    <li>
                        <a href="./icons.html">
                            <i class="material-icons">games</i>
                            <p>Gestionar Contenido de Juegos</p>
                        </a>
                    </li>


                </ul>
            </div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/Principal/IndexMain"> Regresar a la Pagina Principal </a>
                    </div>

                </div>
            </nav>




            @RenderBody()
        </div>

    </div>

</body>
<!--   Core JS Files   -->
@Scripts.Render("~/Scripts/jsbe/jquery-3.2.1.min.js")
@Scripts.Render("~/Scripts/jsbe/bootstrap.min.js")
@Scripts.Render("~/Scripts/jsbe/material.min.js")
@Scripts.Render("~/Scripts/jsbe/chartist.min.js")
@Scripts.Render("~/Scripts/jsbe/arrive.min.js")
@Scripts.Render("~/Scripts/jsbe/perfect-scrollbar.jquery.min.js")
@Scripts.Render("~/Scripts/jsbe/bootstrap-notify.min.js")
@Scripts.Render("~/Scripts/jsbe/material-dashboard.js?v=1.2.0")
@Scripts.Render("~/Scripts/jsbe/demo.js")


@RenderSection("Scripts", required: false)
</html>